@use '../variables/globalVariables.module.scss' as *;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: $neutral-color-6;
    font-family: $fonte-1;
}
h2{
    font-size: $escala-m;
    color: $neutral-color-3;
}
h3{
    font-size: $escala-p;
    color: $neutral-color-4;
}
p{
    font-size: $escala-m;
}

@media (max-width: 600px){
    :root{
        font-size: $escala-xpp;
    }
}